<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Artistas</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   

    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="/assets/css/owl.css">

  </head>

  <body>


    <header class="">
      <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand"><h2>FRELL <em>MUSIC </em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">inicio
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/cuadros">Administracion</a>
            </li>
           
             <li>
              <a class="nav-link" (click)="logout()">Cerrar Sesion</a>
             </li>
           </ul>
         </div>
       </div>
     </nav>
    </header>
  <div class="team-members">
    <div class="container">
      <div class="row">
        
          <div class="section-heading">
            <h2>Agregar Artista</h2> 
          </div>
        
      </div></div></div>

<div class="container mt-2">
    <hr>
    <form [formGroup]="artistaForm"> 
        <div class="row">
            <div class="col-6">
                
                <label class="sr-only" for="inputEmail">Nombre</label>
                
                <input formControlName="nombre" class="form-control" type="text"placeholder="Ingresa el Nombre">
            </div>
           
            <div class="col-6">
                <label class="sr-only" for="inputEmail">Edad</label>
                <input formControlName="edad" class="form-control" type="text" placeholder="Ingresa la Edad">
            </div>
            <div class="col-6">
                <label class="sr-only" for="inputEmail">Descripcion</label>
                <input formControlName="descripcion" class="form-control" type="text" placeholder="Ingresa la Descripcion">
            </div>
            <div class="col-6">
              <label class="sr-only" for="inputEmail">Estado</label>
              <select formControlName="lugarnacimiento"  class="form-select" aria-label="Default select example">
                  <option selected>Selecciona un Estado</option>
                  <option *ngFor="let estado of estados" value="{{estado.id}}">{{estado.nombre}}</option>
                  
                </select>
          </div>
        </div>
        
        <div class="row mt-4">
          
            <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
        <div class="row mt-4">
        <a [routerLink]="['/artistas']">Regresar a lista</a>
        
        </div>
    </form>
    <hr>
</div>

